body {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 27px;
}

span {
    font-size: 45px;
    font-family: "MS Pゴシック";
}

input {
    width: 60px;
    height: 2   5px;
    margin: 5px;
}